html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script()
    body
        div.container
            h1 Listes des devoirs

            if (homeworks.length > 0)
                table.table.table-hover.table-striped#dataTables(width='100%')
                        thead
                        tr
                            th Nom du devoir
                            th Nombre de voir actif
                            th Actions
                        tbody
                        each homework in homeworks
                            tr
                            td= homework._description 
                            td= homeworks.length
                            td
                                a.btn.btn-info(href="/course/"+course.id+"/homework/"+homework.id, style='margin-bottom: 10px; margin-right: 10px') Sélectionner               
                                a.btn.btn-warning(href="/homework/"+homework.id+"/edit", style='margin-bottom: 10px; margin-right: 10px') Modifier
                                a.btn.btn-danger(href="/homework/"+homework.id+"/delete", style='margin-bottom: 10px; margin-right: 10px') Supprimer devoir
            else
                p
                | Aucun devoir associé à ce cours
            br
            a.btn.btn-primary(href="/course/"+course.id+"/homeworks/add", style='margin-bottom: 10px; margin-right: 10px') Ajouter un devoir
            br
            a.btn.btn-outline-primary(href="/") retour à l'index


    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/main.js"></script>
