html
  head
    title= title
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
    script()
  body
    div.container
      h1 Itération
      .bs-component
        ul.nav.nav-tabs
          li.nav-item
            a.nav-link.active(data-toggle='tab', href='#question') Question
          li.nav-item
            a.nav-link(data-toggle='tab', href='#quiz') Questionnaire
          li.nav-item
            a.nav-link(data-toggle='tab', href='#cours') Cours
          li.nav-item
            a.nav-link(data-toggle='tab', href='#devoir') Devoir
        #myTabContent.tab-content
          #question.tab-pane.fade.active.show
            br
            a.btn.btn-outline-primary(href="/addQuestion") Ajouter question
            br
            br
            a.btn.btn-outline-primary(href="/question") Liste des questions
          #quiz.tab-pane.fade
            br
            a.btn.btn-outline-primary(href="/course/quiz") Ajouter un questionnaire
            br
            br
            a.btn.btn-outline-primary(href="/quizzes") Afficher les questionnaires
          #cours.tab-pane.fade
            br
            a.btn.btn-outline-primary(href="/course/quiz") Liste Cours TEMPORAIRE
            br
            br
            a.btn.btn-outline-primary(href="/quizzes") Quiz Cours
          #devoir.tab-pane.fade
            br
            a.btn.btn-outline-primary(href="/course/homework") Liste Cours
            br

  <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/lib/main.js"></script>
