html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script()
    body
        div.container
            h1 #{course.sigle} , Groupe #{course.group}

            each question in questions

                a(href="/question/" + question._id) #{question._name}
                br

            a(href="/course/" + course.id + "/question/add") ajouter question
            br
            a(href="/") retour à l'index


    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/main.js"></script>
