html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script()
    body
        div.container
            h3 Description: #{quiz._description}
            br
            h3 Actif: #{quiz._active}
            br
            each question in result.questions
                if result.selected[question._id]
                    h3 #{question._name}
                    br

            a.btn.btn-warning(href="/quiz/"+quiz.id+"/edit", style='margin-bottom: 10px; margin-right: 10px') Modifier
            form(action="/api/v1/quiz/" + quiz.id + "?_method=DELETE" method="POST")
                input(type="hidden" name="_method" value="DELETE")
                button.btn.btn-danger(type='submit') Supprimer
            br
            a.btn.btn-outline-primary(href="/course/"+quiz._courseId+"/quizList", style='margin-bottom: 10px; margin-right: 10px') Retour à la liste de questionnaires
            br
            a.btn.btn-outline-primary(href="/", style='margin-bottom: 10px; margin-right: 10px') Retour à l'index



    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/main.js"></script>
