html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script()
    body
        div.container
            h3 Description: #{quiz._description}
            br
            h3 Actif: #{quiz._active}
            br
            each question in selectedQuestions
                h3 #{question.name}
                br
            a(href="/course/"+quiz._courseId+"/quizList") Retour à la liste de questionnaires
            br
            a(href="/") retour à l'index
            br
            a(href="/quiz/"+quiz._id+"/edit") Modifier
            br
            a(href="/quiz/"+quiz._id+"/delete") Supprimer


    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/main.js"></script>
