html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script()
    body
        div.container
            h1 Ajouter une Question
            form(action="/api/v1/question" method="POST")
                input(type="hidden" name="courseId" id="courseId" value=course.id)
                input(type="hidden" name="teacherId" id="teacherId" value=1)

                .form-group
                    label(for="tags" style="display:block") Tags(séparés par des virgules):
                    input.form-control(type="text" name="tags" id="tags" style="display:block")

                .form-group
                    label(for="name" style="display:block") Nom:
                    input.form-control(type="text" name="name" id="name" style="display:block")

                .form-group
                    label(for="statement" style="display:block") enonce:
                    textarea.form-control( name="statement" id="statement" style="display:block")

                .form-group
                    label(for="truth" style="display:block") Verite:
                    input.form-control(type="checkbox" name="truth" id="truth" style="display:block")

                .form-group
                    label(for="successText" style="display:block") TexteBonneReponse:
                    textarea.form-control( name="successText" id="successText" style="display:block")

                .form-group
                    label(for="failureText" style="display:block") TexteMauvaiseReponse:
                    textarea.form-control( name="failureText" id="failureText" style="display:block")

                button.btn.btn-success(type="submit") Ajouter



    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/main.js"></script>
