html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script()
    body
        div.container
            h1 Listes des Questions

            each question in questions

                a(href="/questions/View?questionID=" + question['id']+"&coursID="+coursid) #{question['nom']}
                br
            unless coursid === undefined
                a(href="/questions/ajouter?id="+coursid) ajouter question
                br
                a(href="/courses/view?id="+coursid) retour au cours
            if coursid === undefined
                a(href="/") retour à l'index


    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/main.js"></script>